/*#region Variables+Fonts */
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.mogra-regular {
  font-family: "Mogra", serif;
  font-weight: 400;
  font-style: normal;
}

.trykker-regular {
  font-family: "Trykker", serif;
  font-weight: 400;
  font-style: normal;
}



.lexend-justify {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

:root {
  --dark-red: #4f000b;
  --dark-pink: #720026;
  --light-pink: #ce4257;
  --real-pink: #e9204f;
  --real-pink-2:#eb8ba2;
  --bg-color-1: rgb(235, 191, 155);
  --bg-color-2: rgb(240, 162, 111);
  --text-color-1: rgb(48, 2, 2);
}

/*#endregion*/


/*#region Header+Body */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", serif;

}
html{
  background: linear-gradient(to bottom, var(--real-pink-2), var(--bg-color-1));
  height: 100%;

}

body{
  min-height: 100%;
  background: linear-gradient(to bottom, var(--real-pink-2), var(--bg-color-1));
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
.about-body{
  min-height: 100%;
  background: linear-gradient(to bottom, rgb(250, 240, 235), #F4F5F7);
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-direction: column;
}
.art-tracker-body{
  min-height: 100%;
  width: 100%;
  background-color: #F4F5F7;
  background-repeat: space;
  background-size: contain;
  background-attachment: fixed;
  background-position: right;

  background-image: url(GraveYard/flowers-tracker.jpg);
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.home-body{
  min-height: 100vh;
  background-color: rgb(250, 240, 235);
  /* background: linear-gradient(to bottom, var(--real-pink-2), var(--bg-color-1)); */
  scroll-behavior: smooth;
  position: relative;
  /* overflow: hidden; */
}
.contact-body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: right;

    background-image: url(GraveYard/ContactUsDrawing.png);
    background-color:#EBC8C2;
    scroll-behavior: smooth;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
@media(max-width: 500px){
  .contact-body{
    background-position: bottom right;
  }
}

.discussions{
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3rem;
  color: white;

}

.discussions h1{
  font-size: 3rem;
}
.art-tracker{
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3rem;
  color: white;

}

.art-tracker h1{
  font-size: 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(83, 4, 4, 0.137);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(255, 255, 255), transparent);
  transition: .6s;
}

.header:hover::after {
  left: 100%;
}

.Logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0 0 10px var(--real-pink-2);
}

.navbar a{

  font-size: 1.15rem;
  color:aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  text-decoration:  underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: .2rem;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.navbar a:hover{
  text-decoration-color: white;
  text-underline-offset: .4rem;
}



#check{
  display: none;

}

.icons{
  position: absolute;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  display: none;
  right: 5%;
  margin: 20px;
}


/*BREAK POINTS*/
@media(max-width: 1200px){
  .header{
    padding: 1.3rem 5%;
  }
}

@media(max-width: 1000px){
  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar{
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(83, 4, 4, 0.137);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(230, 165, 146, 0.767);
    overflow: hidden;
    transition: .3s ease;
  }


  #check:checked~.navbar {
    height: 17.7rem;
  }

  .navbar a{
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
    text-decoration:  underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: .2rem;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
  }

  .navbar a:hover{
    text-decoration-color: white;
    text-underline-offset: .4rem;
  }

  #check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

}




/*#endregion*/


/*#region Footer */
footer{

  width: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
  background-color: black;
  /* background: linear-gradient(to left, var(--bg-color-2), var(--real-pink)); */
  padding: 1.2rem;
  align-items: center;
  justify-content: flex-start;
  display:flex;
}

footer .help-button{
  bottom: 0%;
  left: 0%;

}

footer .help-button i{
  color: aliceblue;
  text-shadow: 0 0 10px white;
  border: 0.2rem solid rgb(235, 171, 224);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  left:0%;
  transition: .6s ease-in;
}

footer .help-button i:hover{
  color: rgb(255, 255, 255);
  scale: 1.3;
  color: white;
  background-color: rgb(209, 146, 238);
  filter: drop-shadow(0 0 10px rgb(236, 75, 241));
}


footer .help-button h6{
  color: rgb(255, 255, 255);

  padding-left: 0.4rem;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 8px;
}
/*#endregion*/

/*#region ArtTracker */

/* ! Hear begins Table data */
.table-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main.table {
  width: 82vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.table-header{
  width: 100%;
  height: 10%;
  background-color: rgba(255, 248, 248, 0.894);
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-1);

}

.table-header .input-group{

}
table{
  width: 100%;
}
.table-body{
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(255, 255, 255, 0.904);
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;

}

.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
.table-body::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
  transition: 1s;
}

.table-body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}

table, th, td{
  padding: 1rem;
  border-collapse: collapse;
  text-align: left;
}
thead tr th{
  font-weight: 800;
  font-size: 1.2rem;
}
thead th{
  font-weight: 700;
  color: var(--text-color-1);
  top: 0;
  left: 0;
  background-color: rgba(182, 182, 182, 0.164);
}

tbody tr:nth-child(even){
 background-color: #0000000e;
}

tbody tr:hover {
  background-color: #fff6;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
  color: var(--text-color-1);
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}
@media (max-width: 1000px) {
  td:not(:first-of-type){
    min-width: 12.1rem;
  }

}
/* ! here begins form data */
.tracker-header{
  background-image: url(GraveYard/tracker-bg.jpg);
  background-size: cover;
  box-shadow: 0px 5px 10px hsla(0, 100%, 4%, 0.252);
  border-bottom: solid 2px rgb(255, 255, 255);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}





.tracker-header i{
  align-items: center;
  color: #ffffff;
  text-shadow: 0 0 30px var(--real-pink-2);
  text-decoration: none;
  /* background-color: aliceblue; */
  font-size: 3.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  /* border: solid 2px aliceblue; */
  transition: 0.3s linear;
  animation: jump 1s ease-in-out infinite;
  margin-top: 2rem;
}

.tracker-header i:hover{
  text-shadow: 0 0 30px rgb(143, 182, 216);
  color: white;
  font-size: 4rem;
  border: solid 2px aliceblue;
  cursor: pointer;

}


.tracker-header h1{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding-top: 6rem;
  text-wrap: wrap;
  text-align: center;
  text-shadow: 0 0 20px var(--real-pink-2);
}

.tracker-header h3{
  text-shadow: 0 0 20px var(--real-pink-2);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: 2rem;
  text-wrap: wrap;
  text-align: center;
}

@media (max-width: 380){
  .tracker-header i{
    margin-top: 0;
  }
  .tracker-header h3{
    padding: .2rem;
  }
}
/*form begins*/
.tracker-body{
  display: flex;
  justify-content: center;
}
.tracker-container{

  width: 100%;
  max-width: 60%;
  background: rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(5px);
  padding: 28px;
  margin-top: 20vh;
  margin-bottom: 20vh;
  /* margin: 0 28px; */
  border-radius: 10px;
  box-shadow:  -2px 2px 2px rgb(56, 3, 3);
}

.heading-tracker{
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 6px;
  color: var(--text-color-1);
  margin: 0 28px;

  border-bottom: solid 2px var(--text-color-1);;

}

.main-entry{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
  justify-content: center;

}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box {
  display:flex;
  flex-wrap: wrap;
  width: 95%;
  padding-bottom: 15px;

}

.form-submit-btn-tracker input{
  font-family: "Lexend", serif;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.7);
  transition: all .3s ease-in;
}

.form-submit-btn-tracker input:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(214, 102, 121);
}

.user-input-box-tracker label{
  width: 95%;
  color: var(--text-color-1);
  font-size: 1.2rem;
  font-weight: 300;
  margin: 5px 0px;
  padding-bottom: 40px;
}

.user-input-box-tracker input{
  height: 40px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: 2px solid var(--text-color-1);;
  padding: 0 10px;
}

.drop-down-difficulty {

  width: 100%;
  padding-bottom: 15px;
  padding-top: 2vh;

}
.drop-down-difficulty select{
  width: 100%;
  height: 4vh;
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid rgb(31, 1, 1);
}

.extra-thoughts{
  width: 100%;
}
.extra-thoughts textarea{
  width: 100%;
  border-radius: 7px;
  border: solid 2px var(--text-color-1);;
}

@media(max-width: 600px){
  .tracker-container{
      min-width: 100%;
  }

  .user-input-box-tracker{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box-tracker:nth-child(2n){
      justify-content: space-between;
  }


  .main-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-info::-webkit-scrollbar{
      width: 0;
  }
}

textarea{
  resize: none;
}
/*#endregion*/

/*#region Contact-Us */
/*FORM CSS*/
.container{

  width: 100%;
  max-width: 650px;
  background: rgba(255, 246, 246, 0.397);
  padding: 28px;
  margin-top: 20vh;
  margin-bottom: 20vh;
  /* margin: 0 28px; */
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.heading{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 6px;
  color: var(--text-color-1);
  margin: 0 28px;

  border-bottom: solid 2px white;

}

::placeholder {
  color: var(--text-color-1);
  opacity: .60; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--text-color-1);
}

.main-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
  justify-content: center;

}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box {
  display:flex;
  flex-wrap: wrap;
  width: 95%;
  padding-bottom: 15px;

}

.form-submit-btn input{
  font-family: "Lexend", serif;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.7);
}

.form-submit-btn input:hover{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(214, 102, 121);
}

.user-input-box label{
  width: 95%;
  color: var(--text-color-1);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5px 0;

}

.user-input-box input{
  height: 40px;
  width: 100%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.drop-down {

  width: 100%;
  padding-bottom: 15px;
  padding-top: 2vh;

}
.drop-down select{
  width: 100%;
  height: 3vh;
  font-size: 1rem;
  border-radius: 7px;
}

.message{
  width: 100%;
}
.message textarea{
  width: 100%;
  border-radius: 7px;
  border: solid 3px black;
}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }


  .main-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-info::-webkit-scrollbar{
      width: 0;
  }
}

/*#endregion*/


/*#region About-Me */
/*ABOUT*/
.about-wrapper{
  height: 100vh;
  margin-top: 20vh;
  margin-bottom: 10vh;
  position: relative;
  padding-bottom: 100px;
}
@media(max-width: 500px){
  html, body{
    overflow-x: hidden;
  }
  .about-wrapper{
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  .about-right{
    margin-bottom: 30vh;

  }
  .about-right h1{
    font-size: 5rem;
    margin-bottom: 10vh;

  }
  .about-right .about-para{
    padding-top: .001rem;
  }
  .about-right .about-para p{
    font-size: 1rem;

  }
  .about-btns{
    display: flex;
    margin: 0;
    padding: 0;
  }
}
@media(max-width: 1300px){
  html, body{
    overflow-x: hidden;
  }
  .about-wrapper{
    height: 100vh;
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    margin-bottom: 60%;

  }

}
.about-left{
  /* background: wheat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about-left-content{
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-left-content > div{
  background-color: rgb(255, 244, 234);
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center;
}
.about-left-content h2{
  color: var(--text-color-1);
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-color-1);
}
.about-left-content h3{
  color: var(--text-color-1);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}

.social-links{
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.social-links li{
  list-style-type: none;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid pink;
  border-radius: 50%;
  color:pink;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.social-links li i{
  color: pink;
  transition: 0.2s ease-in-out;
}
.social-links li i:hover{
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 10px white);
  transition: 0.2s ease-in-out;
}
.social-links li:hover{
  scale: 1.3;
  color: white;
  background-color: rgb(242, 148, 163);
  filter: drop-shadow(0 0 10px white);
}

.about-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.about-img img{
  display: block;
  width: 200px
}
.shadow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.shadow::after{
  content:"";
  position: absolute;
  background: rgba(33, 1, 1, 0.288);
  left: 37%;
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.6s ease
}

.shadow:hover .about-img{
  transform: translateY(-10px);
}

.shadow:hover::after{
  opacity: 1;
}
.about-right{
  margin: 3rem;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
  text-align: center;
}
.about-right h1{
  color: var(--text-color-1);
  font-size: 7rem;
  text-transform: uppercase;
}
.about-right h1 span{
  color: rgb(247, 234, 239);
  text-shadow: 0 0 20px var(--real-pink);
}
.about-right h2{
  color: var(--text-color-1);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.about-btns{
  display: flex;
  margin: 2rem 0;
}

.btn{
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.55rem 0;
  width: 150px;
  font-weight: 500;
  background: transparent;
  margin: 0 0.9rem;
  cursor: pointer;
}
.btn.btn-pink{
  background: pink;
  color: white;
  border-color: pink;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
  background: transparent;
  border-color: pink;
  color: black;
}

.btn.btn-white{
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
  background: pink;
  border-color: pink;
  color: aliceblue;
}
.about-para p{
  color: var(--text-color-1);
  padding: 0.5rem;
  opacity: 0.8;
  font-weight: 500;
  font-size: 1.4rem;
}

@media screen and (min-width: 1278px){
  .about-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left{

    position: relative;
  }
  .about-left-content{
    position: absolute;
    right: -75%;

  }
}


.gallery{
  text-align: center;
  max-width: 1800px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
  margin-bottom: 10rem;
}

.gallery h1{
  font-size: 3rem;
  color: var(--text-color-1);
  margin-bottom: 2rem;
  text-decoration: underline;
}

.my-art{
  display: flex;
  gap: 20px;

}

.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.art-photo img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 0px 2px rgba(19, 0, 0, 0.216);
}

@media(max-width: 768px){
  .my-art{
    flex-direction: column;
  }
}
/*#endregion*/

/*#region Home */
/*BODY*/
.hero-header{

  background-image: url(GraveYard/HeroHeader.jpg);
  background-size: cover;
  box-shadow: 0px 5px 10px hsla(0, 100%, 4%, 0.252);
  border-bottom: solid 2px rgb(255, 255, 255);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-header img{
  position: relative;
  align-items: center;
  width: 100%;
  height: auto;
}
.hero-header a{
  align-items: center;
  color: #4f000b;
  text-decoration: none;
  background-color: aliceblue;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px black;
  transition: 0.3s linear;
}

.hero-header a:hover{
  text-shadow: 0 0 30px var(--real-pink-2);
  color: white;
  background-color: black;
}


.hero-header h1{
  text-decoration: none;
  color: aliceblue;
  font-size: 4rem;
  padding-top: 6rem;
  text-wrap: wrap;
  text-align: center;
  text-shadow: 0 0 20px var(--real-pink-2);
}

.hero-header h3{
  text-decoration: none;
  color: aliceblue;
  font-size: 2.5rem;
  padding: 2rem;
  text-wrap: wrap;
  text-align: center;
  animation: jump 1s ease-in-out infinite;
}

/*!New New Slide Show*/
.prompt-header{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow:
    2px 2px 0 var(--text-color-1),
    -2px 2px 0 var(--text-color-1),
    -2px -2px 0 var(--text-color-1),
    2px -2px 0 var(--text-color-1);
  /* text-shadow: 10px 10px 10px red; */
}

.slide-container{
  display: flex;
  width: 100%;
  height: 50%;
  margin: 0%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}

.slide-container h1{
  position: absolute;
  top: 25%;
  text-align: center;
  z-index: 2;
  text-wrap: wrap;
  font-size: 4rem;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.498);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.slider{
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: solid 3px rgba(23, 1, 1, 0.403)
}

.list{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons{
  position: relative;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.buttons button:hover{
  background-color: rgba(255, 255, 255, 0.788);
  color: #000000;

}

.dots{
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active{
  width: 30px;
}

@media screen and (max-width: 768px) {
  .slider{
    height: 400px;
  }
  .slider-container h1{
    font-size: 1rem;
  }
}

/* ! OLD GRID CODE */
.info-grid{
  padding: 2rem;
  margin-bottom: 10rem;
  width: 90%;
  margin-inline: auto;

}
.info-grid h3{
  white-space: nowrap;
  overflow: hidden;
  color: black;
  animation: animate-bar 13s linear forwards infinite;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  color: rgb(48, 2, 2);
  font-size: 2rem;
  text-decoration: underline;
  line-height: 1;
}

@keyframes animate-bar {
  0% {
    width: 0px;
    color: #ffffff00;
  }
  20% {
    width: 100%;
    color:  rgb(48, 2, 2);
  }
  100% {
    width: 100%;
  }
}

.grid-wrapper{
  display:grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  background-size: cover;

}
.grid-wrapper .box{
  box-shadow: 0px 0px 0px 10px rgba(19, 0, 0, 0.216);
  border: solid 5px white;
  height: 500px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(GraveYard/grid-bg-2.jpg);
}

.grid-wrapper .box h2{
  font-size: 2rem;
  background-color: #ffffffdb;
  margin: 10px 5px;
  padding-top: 5px;
  border-radius: 3px;
  color:rgb(48, 2, 2);
}

.grid-wrapper .box p{
  background-color: #ffffff62;
  backdrop-filter: blur(5px);
  height: 420px;
  margin: 5px 5px;
  border-radius: 3px;
  padding-top: 20px;
  font-family: "Trykker", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color:rgb(48, 2, 2);
  line-height: 1.7rem;
}
.ending-text{
  margin-bottom: 3rem;
}
.ending-text h1{
  color: rgb(48, 2, 2);
  padding: 50px;
  text-align: center;
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 685px){
  .slide-container h1{
    font-size: 2rem;
  }
  .info-grid h3{
    font-size: 1.5rem;
  }
}
@media (max-height: 725px){
  .hero-header h3{
    padding: 1rem;
  }
}
/*#endregion*/
